.jumbotron {
  padding-top: 6rem;
  background-color: rgb(161, 250, 250);
}

#project {
  background-color: rgb(161, 250, 250);
}

#contact {
  background-color: rgb(161, 250, 250);
}

section {
  padding-top: 5rem;
}

#carouselfont {
  font-size: medium;
  color: crimson;
}
